.Tim {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;

}

.ChatLeft {
    height: 100%;
    width: 27.03vw;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
}

.TopBar {
    height: 4.45vw;
    width: 100%;
    background-color: darkcyan;
    margin-bottom: 5px;
}

.Sessions {
    flex-grow: 1;
    width: 100%;
    background-color: darkgoldenrod;
}

.ChatRight {
    flex-grow: 1;
    height: 100%;
    background-color: wheat;
    display: flex;
    flex-direction: column;
}

.Title {
    height: 4.45vw;
    width: 100%;
    background-color: darksalmon;
    margin-bottom: 5px;
}

.Content {
    width: 100%;
    flex-grow: 1;
    background-color: brown;
}

.TextEditor {
    width: 100%;
    background-color: darkgreen;
    height: 14.69vw;
}